video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
  z-index: -100;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

div {
  font-size: 09px;
  color: yellow;
  line-height: 87%;
  font-family: Courier New;
  margin-left: 100px;
  position: fixed;
  margin-top: 200px;
}

img {
  margin-left: 377px;
  margin-top: 38px;
  position: fixed;
  opacity: 0.8;
  animation: fadeIn 6s ease-in-out;
}

p {
  color: white;
  font-size: 10px;
  font-family: Courier New;
  writing-mode: vertical-rl;
  position: fixed;
  margin-left: 1338px;
  margin-top: 200px;
}

h1 {
  position: fixed;
  font-size: 15pt;
  text-align: center;
  color: #363633;
  margin-top: 418px;
  margin-left: 535px;
  font-family: Courier New;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}