
body {
    background-color: blue;
    text-align: center;
    margin: 20px;
}

a {
    color: white; 
    text-decoration: none;
}

a:visited {
    color: white; 
}

section {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 100px;
    color: white;
}
