            @font-face {
                font-family: "Courier-New";
                src: local("../font/Courier-New.woff"), url("../font/Courier-New.woff") format("woff");
            }
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                background-image: url(../img/intro\ the\ wild.jpg);
                background-size: cover;
                background-position: right;
                background-repeat: no-repeat;
                background-attachment: fixed;
                overflow: hidden;
                font-family: Courier-New;
            }
            
            li {
                color: #363636;
            }
            
            a {
                text-decoration: none;
            }
            
            li::marker {
                color: #78ff00;
            }
            /* ============= info ================== */
            
            .container-info {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-info {
                background-color: #ff5455;
                width: 15px;
                height: 230px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-info p {
                color: #fff;
                transform: rotate(90deg);
                text-align: center;
            }
            
            .con-info-menu {
                margin-left: 30px;
            }
            /* =========== scripts ================= */
            
            .container-scripts {
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
            
            .con-scripts {
                background-color: #ff5455;
                width: 230px;
                height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-scripts p {
                color: #fff;
            }
            
            .container-scripts-menu {
                margin-bottom: 20px;
            }
            /* =========== Square ================= */
            
            #Square-1 {
                background-color: #ff5455;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 0;
                right: 0;
            }
            
            #Square-2 {
                background-color: #ff5455;
                width: 15px;
                height: 15px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            /* =============== text-Endless-poetry ============================ */
            
            .container-text-Endless-poetry {
                background-color: #fff;
                opacity: 0.9;
                height: 100vh;
                width: 30%;
                padding: 100px 60px;
                float: left;
                border-radius: 0px 60px 60px 0px;
                /* mix-blend-mode: hard-light; */
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
            }
            
            .con-text-Endless-poetry p {
                font-size: 2vh;
                color: #ff0000;
                font-weight: 800;
            }
            /* ========================= Circle RED ====================== */
            /* .container-circle {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-circle {
                background-color: #ff5455;
                opacity: .4;
                width: 500px;
                height: 500px;
                border-radius: 100%;
                margin: auto;
            }    */
            
            .container-circle {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-circle {
                background-color: #ff5455;
                opacity: .4;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30%;
                padding-bottom: 30%;
                border-radius: 50%;
            }
            /*---------------------------------------------------
        Responsive
-----------------------------------------------------*/
            
            @media screen and (max-width: 1300px) {
                .emblem {
                    top: 25vh;
                }
            }
            
            @media screen and (max-width: 1200px) {
                .container-text-Endless-poetry {
                    width: 40%;
                }
                .con-text-Endless-poetry p {
                    font-size: 18px;
                }
            }
            
            @media screen and (max-width: 992px) {
                .emblem {
                    width: 40vw;
                    height: 40vw;
                }
                .emblem span {
                    margin: -2.2vw;
                    font-size: 2.5vw;
                }
            }
            
            @media screen and (max-width: 768px) {
                .emblem {
                    width: 45vw;
                    height: 45vw;
                }
            }
            
            @media screen and (max-width: 680px) {
                body {
                    background-image: url(../img/intro\ the\ wild-2.jpg);
                    background-size: cover;
    background-position: center center;
    height: 100vh;
                }
                #container-one {
                    rotate: 90deg;
                    display: flex;
                    align-items: flex-start;
                }

                .container-text-Endless-poetry {
                    background-color: #fff;
                    opacity: 0.8;
                    height: 100vw;
                    width: 30%;
                    padding: 55px 38px;
                    float: left;
                    border-radius: 0px 60px 60px 0px;
                    /* mix-blend-mode: hard-light; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                #Square-1  {
                    display: none;
                }

                
                
                .emblem span {
                    margin: -2.8vw;
                    font-size: 3vw;
                }
                .container-text-Endless-poetry {
                    width: 45%;
                }
                .con-text-Endless-poetry p {
                    font-size: 15px;
                }
            }
            
            @media screen and (max-width: 576px) {
                .emblem {
                    width: 55vw;
                    height: 55vw;
                }
                .con-text-Endless-poetry p {
                    font-size: 12px;
                }
            }
            
            @media screen and (max-width: 480px) {
                .emblem {
                    width: 65vw;
                    height: 65vw;
                    top: 30vh;
                }
                .emblem span {
                    margin: -4.6vw;
                    font-size: 5vw;
                }
                .con-scripts p {
                    color: #fff;
                    transform: rotate(90deg);
                }
                .con-scripts {
                    width: 15px;
                    height: 230px;
                }
                .container-scripts {
                    flex-direction: row-reverse;
                }
                .container-scripts-menu {
                    margin-right: 20px;
                }
                .container-text-Endless-poetry {
                    width: 60%;
                }
                .con-text-Endless-poetry p {
                    font-size: 10px;
                }
            }