@font-face {
  font-family: 'Courier';
  src: url('https://fonts.gstatic.com/s/courierprime/v5/YYgu6cJV9g-RZ2zG9RLabsEHnAc.ttf') format('truetype');
}
* {
  font-family: courier;
}
h1{letter-spacing: 1px; color: skyblue;}
fieldset {
  border: 1px solid black;
  margin: 1px;
  padding: 1rem;
  margin-bottom: 1rem;
}
label {
  display: block;
}

.honeypot-field {
  display: none;
}

.form-elements {
  border: 10px solid skyblue;
}

li {
  margin-bottom: 3em;
}

.Timestamp {
  display: none;
}