@font-face {
  font-family: 'Courier';
  src: url('https://fonts.gstatic.com/s/courierprime/v5/YYgu6cJV9g-RZ2zG9RLabsEHnAc.ttf') format('truetype');
}
  body {
    margin: 0;
    padding: 0;
    color:gray;
    text-align: center;
    font-family:  courier;
    letter-spacing: -.3px;
}

.background-container {
    background-image: url('Label.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: blue;
    font-size: 160px;
    line-height: 80%;
    font-family: courier;
    text-align: left;
    margin-left: 400px;
    margin-top: 0; 
}

#textInput {
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    font-size: 14px;
}

.colorPicker {
    margin-top: 10px;
    margin-left: 16;
}

#alignmentSelector {
    margin-top: 10px;
}

#fontSizeSelector {
    margin-top: 10px;
}

#generateBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}
