            @font-face {
                font-family: "Courier-New";
                src: local("../font/Courier-New.woff"), url("../font/Courier-New.woff") format("woff");
            }
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                background-image: url(../img/Capernaum.jpg);
                background-size: cover;
                background-position: right;
                background-repeat: no-repeat;
                overflow: hidden;
                font-family: Courier-New;
            }
            
            li {
                color: #363636;
            }
            
            a {
                text-decoration: none;
            }
            
            li::marker {
                color: #78ff00;
            }
            /* ============= info ================== */
            
            .container-info {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-info {
                background-color: #ff5455;
                width: 15px;
                height: 230px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-info p {
                color: #fff;
                transform: rotate(90deg);
                text-align: center;
            }
            
            .con-info-menu {
                margin-left: 30px;
            }
            /* =========== scripts ================= */
            
            .container-scripts {
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
            
            .con-scripts {
                background-color: #ff5455;
                width: 230px;
                height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-scripts p {
                color: #fff;
            }
            
            .container-scripts-menu {
                margin-bottom: 20px;
            }
            /* =========== Square ================= */
            
            #Square-1 {
                background-color: #ff5455;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 0;
                right: 0;
            }
            
            #Square-2 {
                background-color: #ff5455;
                width: 15px;
                height: 15px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            /* =============== text-Endless-poetry ============================ */
            
            .container-text-Endless-poetry {
                background-color: #fff;
                opacity: 0.95;
                height: 100vh;
                width: 30%;
                padding: 55px 38px;
                float: left;
                border-radius: 0px 60px 60px 0px;
                /* mix-blend-mode: hard-light; */
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .con-text-Endless-poetry p {
                font-size: 14px;
                color: #ff0000;
                font-weight: 800;
            }
            /* ========================= Circle RED ====================== */
            
            .container-circle {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .con-circle {
                background-color: #ff5455;
                opacity: .4;
                width: 80vh;
                height: 80vh;
                border-radius: 100%;
                margin-right: 300px;
            }
            /*---------------------------------------------------
Responsive
-----------------------------------------------------*/
            
            @media screen and (max-width: 1300px) {
                .emblem {
                    top: 25vh;
                }
            }
            
            @media screen and (max-width: 1200px) {
                .container-text-Endless-poetry {
                    width: 42%;
                    padding: 55px 38px;
                }
            }
            
            @media screen and (max-width: 992px) {
                .emblem {
                    width: 40vw;
                    height: 40vw;
                }
                .emblem span {
                    margin: -2.2vw;
                    font-size: 2.5vw;
                }
                .container-text-Endless-poetry {
                    width: 45%;
                    padding: 55px 38px;
                }
                .con-text-Endless-poetry p {
                    font-size: 13px;
                }
            }
            
            @media screen and (max-width: 886px) {
                .con-text-Endless-poetry p {
                    font-size: 11px;
                }
            }
            
            @media screen and (max-width: 768px) {
                .emblem {
                    width: 45vw;
                    height: 45vw;
                }
                .con-text-Endless-poetry p {
                    font-size: 10px;
                }
                .container-text-Endless-poetry {
                    width: 40%;
                    padding: 55px 38px;
                }
              
            }
            
            @media screen and (max-width: 680px) {
                
                body {
                    background-image: url(../img/Capernaum-2.jpg);
                    background-size: cover;
    background-position: center center;
    height: 100vh;
                }
                #container-one {
                    rotate: 90deg;
                    display: flex;
                    align-items: flex-start;
                }

                .container-text-Endless-poetry {
                    background-color: #fff;
                    opacity: 0.8;
                    height: 100vw;
                    width: 30%;
                    padding: 55px 38px;
                    float: left;
                    border-radius: 0px 60px 60px 0px;
                    /* mix-blend-mode: hard-light; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                #Square-1  {
                    display: none;
                }


                
                .emblem span {
                    margin: -2.8vw;
                    font-size: 3vw;
                }
                /* body {
                    background-image: none;
                }
                .container-one {
                    position: relative;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                }
                .container-one::before {
                    content: "";
                    position: absolute;
                    min-width: 100%;
                    min-height: 100%;
                    background: url(../img/Capernaum.jpg);
                    transform: rotate(90deg);
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center center;
                } */
                .con-text-Endless-poetry p {
                    font-size: 10px;
                }
                .container-text-Endless-poetry {
                    width: 45%;
                    padding: 55px 38px;
                }
            }
            
            @media screen and (max-width: 576px) {
                .emblem {
                    width: 55vw;
                    height: 55vw;
                }
                .con-text-Endless-poetry p {
                    font-size: 9px;
                }
                .container-text-Endless-poetry {
                    width: 50%;
                    padding: 55px 38px;
                }
            }
            
            @media screen and (max-width: 480px) {
                .emblem {
                    width: 65vw;
                    height: 65vw;
                    top: 30vh;
                }
                .emblem span {
                    margin: -4.6vw;
                    font-size: 5vw;
                }
                .con-scripts p {
                    color: #fff;
                    transform: rotate(90deg);
                }
                .con-scripts {
                    width: 15px;
                    height: 230px;
                }
                .container-scripts {
                    flex-direction: row-reverse;
                }
                .container-scripts-menu {
                    margin-right: 20px;
                }
                .con-text-Endless-poetry p {
                    font-size: 7px;
                    line-height: normal;
                }
                .container-text-Endless-poetry {
                    width: 60%;
                    padding: 55px 38px;
                }
            }